VITE_PUBLIC_APP_NAME="CF Metal Pintura"
VITE_PUBLIC_API_URL="http://localhost:4000/api"
VITE_PUBLIC_WHATSAPP_PHONE="5493585719450"
VITE_PUBLIC_GOOGLE_MAPS_URL="https://www.google.com/maps"
VITE_PUBLIC_INSTAGRAM_URL="https://www.instagram.com/cesarromanisio/"
VITE_PUBLIC_FACEBOOK_URL="https://www.facebook.com/CesarRomanisioHig"
