.nosotros {
  padding: 6rem 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  min-height: 90vh;
}

.nosotros h2 {
  color: #deaa0c;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.nosotros p {
  color: #fff;
  font-size: 1.5rem;
  max-width: 900px;
  margin: 0 auto 1rem auto;
  line-height: 1.8;
}

.nosotros p strong {
  color: #deaa0c;
}
