* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #2b2b2b;
  background: url("/image/fondo.jpeg") center/cover no-repeat fixed;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Contenedor global */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Títulos */
h1, h2, h3 {
  font-weight: 700;
  color: #fff;
}

/* Párrafos */
p {
  color: #ddd;
  margin-bottom: 1rem;
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #deaa0c;
}

/* Botón primario */
.btn-primary {
  padding: 0.8rem 1.6rem;
  border: 2px solid #deaa0c;
  color: #deaa0c;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.btn-primary:hover {
  background: #deaa0c;
  color: #000;
}


footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 2rem 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background: #2b2b2b
  }

  .container {
    width: 95%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.95rem;
  }

  .btn-primary {
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
  }
}
