.hero {
  background: url('"../../../public/image/fondo2.jpg"') center/cover no-repeat fixed;
  color: #fff;
  text-align: center;
  padding: 8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); /* Overlay semi-transparente */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.3); /* Overlay sobre el texto */
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero .btn-primary {
  background: #f1a12a;
  color: #fff;
}
